$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


.btn {
    &,
    &:link,
    &:visited {
       
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 1rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: .7rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
        outline: none;
        
    }
    &White {
        -webkit-box-shadow: -1px 9px 7px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 9px 7px -1px rgba(0,0,0,0.75);
box-shadow: -1px 9px 7px -1px rgba(0,0,0,0.75);



        background-color:$color-tertiary-light;
        color: white;}

&Animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}